<h1>hello world</h1>
<h2>{{title}}</h2>
<p>1 + 1 = {{1 + 1}}<p>
<p>2 + 3 = {{sum(2, 3)}}</p>
<button class="{{btnBgColorClass}}">按钮</button>

<!-- 插入子组件 -->
<app-news></app-news>

<!-- 把一个标签放到另一个标签里面 -->
<h1 [innerHtml] = "oneSpan"></h1>

<!-- 如何给标签添加一个自定义的属性，比如我们给h1标签插入一个自定义的index属性 -->
<h1 [attr.data-index123]="index" >我们给h1标签插入一个自定义的index属性</h1> <!-- data-index123我们可以随便命名的 -->
<!-- 如果该标签本身就有的属性，我们可以直接这样 -->
<button [class]="btnBgColorClass" >123</button>
<!-- 如果你想直接用.css里的类选择器，这样写加单引号就可以了 -->
<button [class]="'btnBgColor'" >456</button>

<!-- 样式的动态控制 -->
<h1 [class]="h1ClassObj">这是一段文字</h1>
<h1 [class]="{h1ColorClass2: isShow}">这是一段文字111111111111111111111</h1>
<!-- 通过数组的方式引用多个样式 -->
<h1 [class]="['h1ColorClass1', 'h1ColorClass2']">数组的方式引用多个样式: 方式一</h1>
<h1 [class]="classArr">数组的方式引用多个样式: 方式二</h1>
